
html {
  scroll-behavior: smooth;
}

body {
  background-color:#181818;
  margin: 0px;
  padding: 0px;

}
/*typography*/
h1{
  font-size:60px;
  color:#2F4F4F;
  
font-family: 'Labrada', serif;
  letter-spacing:.1px;

  text-align:center;
}


h2{
    color:#556B2F;
    font-size:35px;
    font-family: 'Josefin Sans', sans-serif;
    margin-left:15px;
}

h3{
  color:#2F4F4F;
  font-size:25px;
  font-family: 'Josefin Sans', sans-serif;
  margin-left:5px; 
}

p{
    line-height:25px;
    font-size:20px;
    
    margin-left:25px;
    margin-top:25px;
    
    color:#708090;

    font-family: 'Josefin Sans', sans-serif; 
    text-align: justify;
  }
  p1{
    line-height:25px;
    font-size:20px;
    margin-top:25px; 
    color:#708090; 
    font-family: 'Josefin Sans', sans-serif;  
  }
  


  a{
    color:#D3D3D3;
    font-size: 18px;
  }


/*Links Box*/
.button-1{ 
  border-style: solid;
  
  background-color: #808080;
  border-width: 2px;
  text-decoration: none;
  color: #D3D3D3;
  width: 120px;
 border-bottom-right-radius: 25px;
  display: block;
  text-align:center;
  margin-top:10px;
}


.button-2{ 
  border-style: solid;
  background-color: #808080;
  
  border-width: 2px;
  text-decoration: none;
  color: #D3D3D3;
  width: 120px;
 border-top-left-radius: 25px;
  display: block;
  text-align:center;
  margin-top:10px;
}
.button-3{ 
  border-style: solid;
  
  background-color: #808080;
  border-width: 2px;
  text-decoration: none;
  color: #D3D3D3;
  width: 120px;
  /*
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-rigth-radius: 25px;
  */
  border-radius:90px 90px 0px 90px;
  display: block;
  text-align:center;
  margin-top:10px;
}

nav {
  text-align: center;
  padding: .5px;
  background-color:gray;
  list-style-type:none;
  position: fixed;
  width: 100%;
  opacity: 80%;
}
.nav-links li {
  display: inline;
  margin: 0px;
  width: 500px;
  text-align:center;
}

.nav-links li a { 
  padding:0px 5px;
  text-decoration:none;
}


.top-banner {
  text-align:center;
  background-color:black;
  height: 120px;
  padding-top: 70px;
  background-image: url("https://images.pexels.com/photos/2312040/pexels-photo-2312040.jpeg");
  background-size:cover;
  background-attachment: fixed;
  
}

.center-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  
}

footer {
  text-align:center;
  padding: 10px 0;
  height: 80px;  
}


/* Mobile Styles*/

@media only screen and (max-width: 600px) {
  /* Mobile Styles go here */
  body {
  background-color:#000000;
  margin: 0px;
  padding: 0px;
  }
  
  h1{
  font-size:40px;
  color:#2F4F4F;
  margin:0px;
font-family: 'Labrada', serif;
  letter-spacing:0.5px;
  text-align:center;
}
   
  h2{
    color:#556B2F;
    font-size:15px;
    font-family: 'Josefin Sans', sans-serif;
    margin-left:5px; 
}

h3{
    color:#2F4F4F;
    font-size:7px;
    font-family: 'Josefin Sans', sans-serif;
    margin-left:5px; 
}
  
p{
  line-height:5px;
  font-size:4px;
  margin-top:5px; 
  color:#8C99A6; 
  font-family: 'Josefin Sans', sans-serif;  
}

p1{
  line-height:5px;
  font-size:4px;
  margin-top:5px; 
  color:#8C99A6; 
  font-family: 'Josefin Sans', sans-serif;  
}
  
}

